.aper {
  --aper-color: #6366f1;
  --hover-color: #84858d2e;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .list-lyric {
    flex: 1;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    .list {
      height: 100%;
      width: min(300px, 30%);
      display: flex;
      flex-direction: column;
      gap: 2px;
      overflow-y: scroll;
      // border-right: 2px solid var(--aper-color);
      .item {
        width: calc(100% - 8px);
        cursor: pointer;
        padding: 4px;
        border-radius: 6px;
        &:hover {
          background-color: var(--hover-color);
        }
        .name {
          width: 100%;
          overflow: hidden;
          font-weight: bold;
        }
        .artist {
          font-size: small;
        }
      }
      .playing {
        background-color: var(--aper-color);
        color: white;
        &:hover {
          background-color: var(--aper-color);
        }
      }
    }
    .lyric {
      flex: 1;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 14px;
      overflow-y: scroll;
      transition: all 0.3s ease;
      .none {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bold;
        color: var(--aper-color);
      }
      .item {
        font-size: large;
        opacity: 0.7;
        text-align: center;
        transition: all 0.3s ease;
      }
      .active {
        color: var(--aper-color);
        font-weight: bold;
        font-size: xx-large;
        opacity: 1;
      }
    }
  }
  .control {
    height: 84px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .progress {
      display: flex;
      align-items: center;
      gap: 4px;
      .time {
        opacity: 0.7;
      }
    }
    .other {
      display: flex;
      flex: 1;
      height: 0;
      justify-content: space-between;
      padding: 0 8px;
      .cover {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        .rotate {
          animation: rotate 10s linear infinite;
        }
      }
      .operate {
        display: flex;
        align-items: center;
        gap: 8px;
        .btn {
          padding: 4px;
          opacity: 0.9;
          height: 30px;
          width: 30px;
        }
        .center {
          padding: 0;
          height: 44px;
          width: 44px;
        }
      }
    }
  }
  .btn {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background: none;
    color: unset;
    &:hover {
      background: var(--hover-color);
    }
    &:active {
      transform: scale(0.92);
      transition: 0.2s;
    }
  }

  .slider {
    width: 100%;
    height: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    input[type="range"] {
      -webkit-appearance: none !important;
      width: 100%;
      height: 3px;
      background: var(--aper-color);
      border-radius: 3px;
      border: none;
      outline: none;
      cursor: pointer;
      &::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        width: 10px;
        height: 10px;
        background: var(--aper-color);
        border-radius: 50%;
        cursor: pointer;
        &:hover {
        }
      }
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-button:vertical {
    display: none;
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, 0.38);
  }
}
